{% extends "layout.html" %}

{% block body %}
<div class="fh5co-narrow-content">
  <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Blockchain <span>Monitoring Dashboard</span></h2>
  <div class="row animate-box" data-animate-effect="fadeInLeft">
    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
      {%if blockMatchignQuery %}
      {% for block in blockMatchignQuery %}
      <div class="fh5co-card animate-box" data-animate-effect="fadeInLeft">
        <h3 class="fh5co-work-title">{{block.date}}</h3>
        <h5>{{block.id}}</h5>
        <span id="title">{{block.title}}</span>
        <p>Ledger Content</p>
      </div>
    </div>
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
